<a href="https://colab.research.google.com/github/data602sps/assignments/blob/master/05_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 8**

# **Weeks 10 & 11- matplotlib & seaborn**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.


* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  


### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://www.oreilly.com/library/view/python-data-science/9781491912126/ch04.html

•	https://www.data-to-viz.com/



### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

### INTRODUCTION ANSWER
For this assignment i chose NYC 2018 Squirrel Census Data to work with. The data can be found here:(https://www.thesquirrelcensus.com/data). I chose this data because when looking for data to work with for various projects I always see it but end up choosing a data set with more utility. I figured this hw assignment is "light" enough to use this data for exploring and doing some simple analysis. ## I downloaded the data to a local csv and read it in below

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

### **** DATA EXPLORATION START ****

In [4]:
import pandas as pd
df = pd.read_csv("squirrel-data.csv",encoding="ISO-8859-1")## Shifting encoding b.c default UTF-8 breaks
##

In [35]:
## Takign a look at the head 
print(df.columns)
df.head()

Index(['Area Name', 'Area ID', 'Park Name', 'Park ID', 'Squirrel ID',
       'Primary Fur Color', 'Highlights in Fur Color', 'Color Notes',
       'Location', 'Above Ground (Height in Feet)', 'Specific Location',
       'Activities', 'Interactions with Humans', 'Other Notes or Observations',
       'Squirrel Latitude (DD.DDDDDD)', 'Squirrel Longitude (-DD.DDDDDD)'],
      dtype='object')

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

In [19]:
### ---- Notes
# This is geolocated data so there are multiple columns which we are most likely not going to use for this base level analysis. These columns include: 
# Squirrel Latitude (DD.DDDDDD)
# Squirrel Longitude (-DD.DDDDDD)

## Seeing what describe shows.
# print(df.describe())

# No numeric data in here except for an identifier and the location coordinates. Need to aggregate to get counts to work with. 
# This data is mainly qualitative data, with the exception of the lat and long.
# This means we will need to aggregate row counts in order to get some level of numeric content. 
#
### ---- For the remaining columms that are not numeric, which are the columns we have interest in leveraging in aggregate analysis. 
for col in df.columns: 
    print('-------------------------------------------')
    print(f"Column: {col}")
    print(f'Unique Values for {col}: ',df[col].unique())
    print(f"Null values for {col}: ",df[col].isnull().sum())
    print('-------------------------------------------')

-------------------------------------------
Column: Area Name
Unique Values for Area Name:  ['UPPER MANHATTAN' 'CENTRAL MANHATTAN' 'LOWER MANHATTAN' 'BROOKLYN']
Null values for Area Name:  0
-------------------------------------------
-------------------------------------------
Column: Area ID
Unique Values for Area ID:  ['A' 'B' 'C' 'D']
Null values for Area ID:  0
-------------------------------------------
-------------------------------------------
Column: Park Name
Unique Values for Park Name:  ['Fort Tryon Park' 'J. Hood Wright Park' 'Highbridge Park'
 'St. Nicholas Park' 'Riverside Park (Section Near Grant Memorial)'
 'Marcus Garvey Park' 'Madison Square Park' 'Union Square Park'
 'Stuyvesant Square Park' 'Washington Square Park' 'Tompkins Square Park'
 'John V. Lindsay East River Park' 'Seward Park' 'Corlears Hook Park'
 'Columbus Park' 'Teardrop Park' 'City Hall Park' 'Battery Park'
 'Msgr. McGolrick Park' 'McCarren Park']
Null values for Park Name:  0
-------------------------------------------
-------------------------------------------
Column: Park ID
Unique Values for Park ID:  [ 1  2  3  4  5  6  7  8  9 10 11 12 14 15 16 18 19 20 21 22]
Null values for Park ID:  0
-------------------------------------------
-------------------------------------------
Column: Squirrel ID
Unique Values for Squirrel ID:  ['A-01-01' 'A-01-02' 'A-01-03' 'A-01-04' 'A-01-05' 'A-01-06' 'A-01-07'
 'A-01-08' 'A-01-09' 'A-01-10' 'A-01-11' 'A-01-12' 'A-02-01' 'A-02-02'
 'A-02-03' 'A-02-04' 'A-02-05' 'A-02-06' 'A-02-07' 'A-02-08' 'A-02-09'
 'A-02-10' 'A-02-11' 'A-02-12' 'A-02-13' 'A-02-14' 'A-02-15' 'A-02-16'
 'A-02-17' 'A-02-18' 'A-02-19' 'A-02-20' 'A-02-21' 'A-02-22' 'A-02-23'
 'A-02-24' 'A-03-01' 'A-03-02' 'A-03-03' 'A-03-04' 'A-03-05' 'A-03-06'
 'A-03-07' 'A-03-08' 'A-03-09' 'A-03-10' 'A-03-11' 'A-03-12' 'A-03-13'
 'A-03-14' 'A-03-15' 'A-03-16' 'A-04-01' 'A-04-02' 'A-04-03' 'A-04-04'
 'A-04-05' 'A-04-06' 'A-04-07' 'A-04-08' 'A-04-09' 'A-04-10' 'A-04-11'
 'A-04-12' 'A-04-13' 'A-04-14' 'A-04-15' 'A-05-01' 'A-05-02' 'A-05-03'
 'A-05-04' 'A-05-05' 'A-05-06' 'A-05-07' 'A-05-08' 'A-05-09' 'A-05-10'
 'A-05-11' 'A-05-12' 'A-05-13' 'A-05-14' 'A-05-15' 'A-05-16' 'A-05-17'
 'A-05-18' 'A-05-19' 'A-05-20' 'A-05-21' 'A-05-22' 'A-05-23' 'A-05-24'
 'A-05-25' 'A-05-26' 'A-05-27' 'A-05-28' 'A-06-01' 'A-06-02' 'A-06-03'
 'A-06-04' 'A-06-05' 'A-06-06' 'A-06-07' 'A-06-08' 'A-06-09' 'A-06-10'
 'A-06-11' 'A-06-12' 'A-06-13' 'A-06-14' 'A-06-15' 'A-06-16' 'A-06-17'
 'A-06-18' 'A-06-19' 'A-06-20' 'A-06-21' 'A-06-22' 'A-06-23' 'A-06-24'
 'A-06-25' 'A-06-26' 'A-06-27' 'A-06-28' 'A-06-29' 'A-06-30' 'A-06-31'
 'A-06-32' 'A-06-33' 'A-06-34' 'B-07-01' 'B-07-02' 'B-07-03' 'B-07-04'
 'B-07-05' 'B-07-06' 'B-07-07' 'B-07-08' 'B-07-09' 'B-07-10' 'B-07-11'
 'B-08-01' 'B-08-02' 'B-08-03' 'B-08-04' 'B-08-05' 'B-08-06' 'B-08-07'
 'B-08-08' 'B-08-09' 'B-08-10' 'B-08-11' 'B-08-12' 'B-08-13' 'B-08-14'
 'B-08-15' 'B-08-16' 'B-09-01' 'B-09-02' 'B-09-03' 'B-09-04' 'B-09-05'
 'B-09-06' 'B-09-07' 'B-09-08' 'B-09-09' 'B-09-10' 'B-09-11' 'B-09-12'
 'B-09-13' 'B-09-14' 'B-09-15' 'B-09-16' 'B-09-17' 'B-09-18' 'B-09-19'
 'B-09-20' 'B-09-21' 'B-09-22' 'B-09-23' 'B-09-24' 'B-09-25' 'B-10-01'
 'B-10-02' 'B-10-03' 'B-10-04' 'B-10-05' 'B-10-06' 'B-10-07' 'B-10-08'
 'B-10-09' 'B-10-10' 'B-10-11' 'B-10-12' 'B-10-13' 'B-10-14' 'B-10-15'
 'B-10-16' 'B-10-17' 'B-10-18' 'B-10-19' 'B-10-20' 'B-10-21' 'B-10-22'
 'B-10-23' 'B-10-24' 'B-10-25' 'B-10-26' 'B-10-27' 'B-10-28' 'B-10-29'
 'B-10-30' 'B-10-31' 'B-10-32' 'B-10-33' 'B-10-34' 'B-10-35' 'B-10-36'
 'B-10-37' 'B-10-38' 'B-10-39' 'B-10-40' 'B-10-41' 'B-10-42' 'B-10-43'
 'B-10-44' 'B-10-45' 'B-10-46' 'B-10-47' 'B-10-48' 'B-10-49' 'B-10-50'
 'B-10-51' 'B-11-01' 'B-11-02' 'B-11-03' 'B-11-04' 'B-11-05' 'B-11-06'
 'B-11-07' 'B-11-08' 'B-11-09' 'B-11-10' 'B-11-11' 'B-11-12' 'B-11-13'
 'B-11-14' 'B-11-15' 'B-11-16' 'B-11-17' 'B-11-18' 'B-11-19' 'B-11-20'
 'B-11-21' 'B-11-22' 'B-11-23' 'B-11-24' 'B-11-25' 'B-11-26' 'B-11-27'
 'B-11-28' 'B-11-29' 'B-11-30' 'B-11-31' 'B-11-32' 'B-11-33' 'B-11-34'
 'B-11-35' 'B-11-36' 'B-11-37' 'B-11-38' 'B-11-39' 'B-11-40' 'B-11-41'
 'B-11-42' 'B-11-43' 'B-11-44' 'B-11-45' 'B-11-46' 'B-11-47' 'B-11-48'
 'B-11-49' 'B-11-50' 'B-11-51' 'B-11-52' 'B-11-53' 'B-11-54' 'B-11-55'
 'B-11-56' 'B-11-57' 'B-11-58' 'B-11-59' 'B-12-01' 'B-12-02' 'B-12-03'
 'B-12-04' 'B-12-05' 'B-12-06' 'B-12-07' 'B-12-08' 'B-12-09' 'B-12-10'
 'B-12-11' 'B-12-12' 'C-14-01' 'C-14-02' 'C-14-03' 'C-14-04' 'C-14-05'
 'C-14-06' 'C-14-07' 'C-15-01' 'C-15-02' 'C-15-03' 'C-15-04' 'C-15-05'
 'C-15-06' 'C-15-07' 'C-15-08' 'C-15-09' 'C-15-10' 'C-15-11' 'C-15-12'
 'C-15-13' 'C-15-14' 'C-15-15' 'C-15-16' 'C-16-01' 'C-16-02' 'C-16-03'
 'C-16-04' 'C-18-01' 'C-19-01' 'C-19-02' 'C-19-03' 'C-19-04' 'C-19-05'
 'C-19-06' 'C-19-07' 'C-19-08' 'C-19-09' 'C-19-10' 'C-19-11' 'C-19-12'
 'C-19-13' 'C-19-14' 'C-19-15' 'C-19-16' 'C-19-17' 'C-19-18' 'C-20-01'
 'C-20-02' 'C-20-03' 'C-20-04' 'C-20-05' 'C-20-06' 'C-20-07' 'C-20-08'
 'C-20-09' 'C-20-10' 'C-20-11' 'C-20-12' 'C-20-13' 'C-20-14' 'C-20-15'
 'C-20-16' 'C-20-17' 'C-20-18' 'C-20-19' 'C-20-20' 'C-20-21' 'C-20-22'
 'C-20-23' 'C-20-24' 'C-20-25' 'C-20-26' 'D-21-01' 'D-21-02' 'D-21-03'
 'D-21-04' 'D-21-05' 'D-21-06' 'D-21-07' 'D-21-08' 'D-21-09' 'D-21-10'
 'D-21-11' 'D-21-12' 'D-21-13' 'D-21-14' 'D-22-01' 'D-22-02' 'D-22-03'
 'D-22-04' 'D-22-05' 'D-22-06' 'D-22-07' 'D-22-08' 'D-22-09' 'D-22-10'
 'D-22-11' 'D-22-12' 'D-22-13' 'D-22-14' 'D-22-15' 'D-22-16' 'D-22-17'
 'D-22-18' 'D-22-19' 'D-22-20' 'D-22-21' 'D-22-22' 'D-22-23' 'D-22-24'
 'D-22-25' 'D-22-26' 'D-22-27' 'D-22-28' 'D-22-29' 'D-22-30' 'D-22-31'
 'D-22-32' 'D-22-33' 'D-22-34' 'D-22-35' 'D-22-36' 'D-22-37' 'D-22-38'
 'D-22-39' 'D-22-40' 'D-22-41' 'D-22-42' 'D-22-43' 'D-22-44']
Null values for Squirrel ID:  0
-------------------------------------------
-------------------------------------------
Column: Primary Fur Color
Unique Values for Primary Fur Color:  ['Gray' 'Black' 'Cinnamon' nan]
Null values for Primary Fur Color:  1
-------------------------------------------
-------------------------------------------
Column: Highlights in Fur Color
Unique Values for Highlights in Fur Color:  ['White' 'Cinnamon' 'Gray' 'Black' nan 'Cinnamon, White' 'Gray, White'
 'Gray, Cinnamon']
Null values for Highlights in Fur Color:  94
-------------------------------------------
-------------------------------------------
Column: Color Notes
Unique Values for Color Notes:  [nan 'Chestnut Brown?? May be black with sunlight??' 'Cinnamon tail'
 'Cinnamon streak down back'
 'Very distinct white outlines on ears and ring around tail'
 'Lots of white!' 'White bellies' 'White underbelly' 'Reddish tail']
Null values for Color Notes:  423
-------------------------------------------
-------------------------------------------
Column: Location
Unique Values for Location:  ['Ground Plane' 'Above Ground' 'Above Ground, Specific Location'
 'Ground Plane, Above Ground' nan 'Ground Plane, Specific Location'
 'Specific Location']
Null values for Location:  34
-------------------------------------------
-------------------------------------------
Column: Above Ground (Height in Feet)
Unique Values for Above Ground (Height in Feet):  [nan '10' '2' '15' '20' '3' '< 1' '6\x89ÛÒ18' '4' '9' '20\x89ÛÒ40' '25'
 '2\x89ÛÒ6' '4...3...2...1' '6' '30' '1' '40' '60' '8' '12' '20\x89ÛÒ30'
 '35' '5' '10\x89ÛÒ12' '14' '75']
Null values for Above Ground (Height in Feet):  321
-------------------------------------------
-------------------------------------------
Column: Specific Location
Unique Values for Specific Location:  [nan 'tree' 'fence' 'in tree' 'on log' 'in wall'
 'Started on ground, climbed 6\x89ÛÒ18 ft.' 'Tree' 'at tree' 'small trees'
 'in a tree' 'Farragut Lawn' 'in old tree (oval lawn)' 'base of tree'
 'on bench' 'in tree high' 'tree canopy, low down' 'tree high' 'tree low'
 'small tree' 'Handrail' 'on City Hall back steps'
 'by back steps of City Hall' 'on fencing' 'on a bench' 'on fence'
 'by playground' 'at Nassau (Avenue) / Henry (Street) '
 'In a trash and metal heap next to baseball field' 'in short tree'
 'below park benches']
Null values for Specific Location:  344
-------------------------------------------
-------------------------------------------
Column: Activities
Unique Values for Activities:  ['Foraging' 'Eating, Digging something' 'Running' 'Running, Eating'
 'Climbing' 'Eating, Digging' nan 'Foraging, Nesting/gathering leaves'
 'Chasing' 'Eating' 'Sleeping' 'Sitting' 'Chasing, Climbing'
 'Chasing, Climbing, Eating' 'Running, Chasing, Climbing'
 'Climbing, Foraging' 'Vocalization at us' 'Running, Foraging'
 'Jumped to building' 'Eating, Foraging' 'Climbing, Eating'
 'Running, up tree' 'Sitting on branch' 'Sitting at attention'
 'Sitting, shouting' 'Defending tree, shouting' 'Cleaning'
 'Resting in tree' 'Running, Climbing, Foraging'
 'Running, Eating, Foraging' 'Digging' 'Running, Digging' 'Grooming'
 'Nesting' 'Climbing (down tree)' 'Sitting (in tree hole)' 'Lounging'
 'Climbing (down)' 'Running, Eating (peanuts)' 'Climbing, Watching #2'
 'Running, Chasing, Eating' 'Climbing, Eating, Foraging'
 'Running, Chasing' 'Running, Climbing, Eating' 'Ear scratching'
 'Frolicking' 'Running, Climbing, Scratching' 'Running, Climbing' 'Posing'
 'Guarding' 'Running, Eating (or pretending to eat)' 'Eating, Burying'
 'Very carefully watching a cat' 'Chattering' 'Eating (nuts), Foraging'
 'Climbing, Balancing on fencing' "Chillin', Rubbing butt on ground"
 'Sticking out of a tree' "Hangin' with #13 & #14" 'Climbing (tree)'
 'Snacking in a tree' 'Prancing about' 'Climbing fence' 'battery'
 'Climbing, Foraging, Self-cleaning' 'Climbing, Sitting in short tree'
 'Foraging, Jumping' 'Chilling' 'Hanging'
 'Eating (bread crumbs), Foraging' 'Hanging out' 'Sleeping (Dead?)'
 'Eating (tortilla/chip)']
Null values for Activities:  55
-------------------------------------------
-------------------------------------------
Column: Interactions with Humans
Unique Values for Interactions with Humans:  ['Indifferent' 'Runs From' nan 'Watches us from tree'
 'Runs From, watchful' 'Watching us from tree - very interested in us'
 'Approaches, watching us' 'Runs From, watches us in short tree'
 'Okay with people' 'Indifferent, Preoccupied by HAAWK' 'Friendly'
 'Indifferent, Staring' 'Indifferent, Runs From (kids)' 'Approaches'
 'Defensive' 'Indifferent, Runs From' 'Approaches, Runs From' 'Watching'
 'Interested in' 'Cautious of' 'Staring' 'Skittish to humans']
Null values for Interactions with Humans:  91
-------------------------------------------
-------------------------------------------
Column: Other Notes or Observations
Unique Values for Other Notes or Observations:  [nan 'Looks skinny' 'She left food' 'was intimidated by a dog'
 '#1 and #2 chasing each other'
 '#5, #6 & #7 together in shrub area to East, a lot of acorns and Corona bottle caps on ground'
 '#8 & #9 saw together at start of river overlook, hiding in cracks of cement wall! so cool!'
 'Lots of garbage, near #8 & #9' 'Loud sparrows in tree' 'Jumping between'
 'Chasing #3' 'Being chased by #2' 'Wooded area'
 'Wooded area - would look but not fully approach' 'Forever wild section'
 'HAWK. HAAAAAWK. All in 1 tree.'
 'Defending the tree from the HAAAAWK. The bravest.'
 '2 were chasing each other through some short trees, others just sat'
 'Slid down a signpost while spinning. Other squirrels flung leaves at it, cheering.'
 'Too far to observe human interactions'
 'Ran up the the 3rd baseline of a Little League field. Wrong way!'
 'Scampered across path' 'HAWK. Same scene as 1\x89ÛÒ8. All gray.'
 'Cleaning himself like a cat would.' 'Scar on forehead'
 'Many pigeons lounging on lawn, tourist taking picture'
 '#6 & #7 in same tree'
 '#6 & #7 in same tree - In general, visitors/people are trying to coax squirrels and take pictures. They are delighted to see squirrels.'
 'Dog owners encouraging dogs to chase squirrels'
 'Ran from base of tree to lawn about 20 feet away in search of food'
 'First spotted in tree, then climbed down. Squirrel was small in stature.'
 'First seen on bench. Then jumped to ground, ran across path and onto lawn in search of food.'
 'Baby smaller' 'Ran away from kids and climbed up the tree' 'Big'
 'Big and chubby' 'Found nut and moved into tree'
 'Curious, thinks we have food' 'Being chased by #9' 'Chasing #8'
 'Expected food' 'Juvenile? Playing with #12 in tree'
 'Juvenile? Playing with #11 in tree' 'Far away' 'Sun'
 'People eating at bench with dog' 'Shady'
 'In squirrel house (pic). Someone is trying to feed squirrel in house.'
 'Chasing #15' 'Being chased by #13' 'Busy area'
 'Nut in mouth, very fast moving' 'They (#48 & #49) are fat.'
 'Nibbling on shrubs?'
 'Siblings? (with #4) Playing (with #4) in fenced yard'
 'Siblings? (with #3) Playing (with #3) in fenced yard'
 'Was very close to a dog and hid in a tree' 'Bushier and plump, big tail'
 'Looking to us for food! Climbed tree when we did not have any to give.'
 'Skinny tail, lots of digging, found an acorn and is eating'
 'Medium bushy, maybe a little younger, agile, sprightly' 'Too quick'
 'Frantically zig-zagging whilst clutching a mid-afternoon snack'
 'Digging in leaves carelessly'
 'Multiple nut dives into the leaves; mostly successful'
 'Playing tag with #5' 'Playing tag with #4'
 'Leaping from branch to branch' 'Meandering among the branches'
 'Came by to make sure we had proper Sighter buttons, looks like a Gerald'
 'Timidly approached but ran from a passing pooch'
 'Very upset that we spotted him accessing his tree-hole stash'
 '#13, #14 & #15: Scattering and teasing a Shih Tzu that chased them, runs from dog'
 'So curious! A unique color and thirst for the unknown.'
 'Boy, Alert \x89ÛÓ lots of basketball close by' 'Nibbling on branches'
 'Patchy \x89ÛÓåÊbald spots'
 'Ran up tree and down tree, tail vibration \x89ÛÓ not a flag or twitch, kuk sound'
 'Chasing #3 up the tree' 'Chasing #2 up the tree'
 'Very chubby cinnamon squirrel got peanuts from humans and buried them in leaves'
 "Couldn't find a good spot to bury theirs (peanuts from humans)"
 'Being fed by people' 'Came out to get peanut from human'
 'Perched in a bush, watched us and scampered off to eat - very little squirrel'
 'Found something to eat buried in leaves and then looked for more'
 'High up in a tree, lots of talking' 'Very active, darting around'
 'Perched on knot of tree, watching us, then started foraging'
 'Successfully finding buried food'
 'Rolling around in loose dirt with a "swimming" motion'
 '#1\x89ÛÒ5 all together being fed by humans'
 '#1\x89ÛÒ5 all together being fed by humans - Hungry'
 '#1\x89ÛÒ5 all together being fed by humans, Had a ton of leaves in his mouth for several minutes'
 'Seems left out' 'Obviously a couple with #9'
 'Obviously a couple with #8' 'Skinny with tiny ears'
 'Flirty, chasing #16, also eating urban farm debris'
 'Flirty, being chased by #15, also eating urban farm debris'
 'Looks like he has a patch of fur missing on his back'
 'Looks cold, not moving, lethargic' 'We fed him!'
 'Ran in from baseball field' 'Running around'
 'Perched up \x89ÛÓ came close to us!'
 'Skinny tail \x89ÛÓ was in the baseball field' 'Ran up a tree'
 'Ran out of park' 'Birds walking nearby' 'Ran from ground to tree'
 'Great jumper' 'Perched on branch, just hanging out' 'Perched on branch'
 'Very small, climbed from one tree to another'
 'Small, on tree on branch, two others below it'
 'Started in middle of tree, started chasing others up in branches, jumped from branch to branch'
 'One of three together on a tree' 'Jumped from one tree to next'
 'Dog chased it up a tree' 'Fast' 'Near a lot of little birds'
 'Running against fence' 'Standing at base of tree, then climbed up'
 'Walking around bushes' 'A little on the robust side'
 'Busy digging for something'
 'It almost looks dead. Eyes open, curled up into itself in a nook in a tree with #35.'
 'Curled up together with #34. One big furry ball of squirrel.'
 'Pretty fat' 'Turning around, trying to eat'
 'Sitting next to #39 and eating' 'Sitting next to #38 and eating'
 'Fluffy' 'Skinny' 'Clinging to tree'
 'Playing with another squirrel in a tree' 'Ran very quickly']
Null values for Other Notes or Observations:  266
-------------------------------------------
-------------------------------------------
Column: Squirrel Latitude (DD.DDDDDD)
Unique Values for Squirrel Latitude (DD.DDDDDD):  [40.85941  40.859436 40.859416 40.859418 40.859493 40.860825 40.860225
 40.859965 40.859892 40.859636 40.859576 40.859989 40.845749 40.845875
 40.846088 40.846222 40.846197 40.846185 40.846271 40.846332 40.846458
 40.846417 40.846296 40.846064 40.846065 40.847296 40.847259 40.84719
 40.847113 40.841178 40.841204 40.841212 40.841217 40.841359 40.841375
 40.842308 40.842401 40.842511 40.842673 40.842795       nan 40.842327
 40.842359 40.842769 40.817593 40.817719 40.817711 40.817569 40.817544
 40.817479 40.816685 40.816677 40.816555 40.816506 40.816425 40.818308
 40.818263 40.804912 40.804913 40.804915 40.804916 40.804914 40.804917
 40.804701 40.804746 40.804729 40.804713 40.804613 40.804564 40.804253
 40.803758 40.803616 40.803413 40.80338  40.803392 40.803794 40.803795
 40.803796 40.80362  40.80352  40.803507 40.803981 40.804123 40.804878
 40.74145  40.742255 40.742556 40.742792 40.74288  40.742421 40.742807
 40.741528 40.741805 40.741862 40.735981 40.735847 40.735896 40.73579
 40.735941 40.73566  40.735636 40.735587 40.73542  40.735514 40.735945
 40.735947 40.73604  40.73618  40.736298 40.733753 40.733648 40.733631
 40.733546 40.733591 40.733737 40.733501 40.733575 40.733506 40.733619
 40.733932 40.734014 40.734221 40.734083 40.73403  40.734204 40.734314
 40.734261 40.734144 40.734335 40.734383 40.734356 40.730703 40.730638
 40.730528 40.730394 40.730341 40.7303   40.730247 40.730231 40.730223
 40.730077 40.729858 40.72985  40.729822 40.729809 40.729939 40.729976
 40.72996  40.729927 40.729988 40.72998  40.730318 40.730301 40.730334
 40.730411 40.730395 40.731031 40.731504 40.731548 40.731608 40.731503
 40.731552 40.731952 40.731936 40.732001 40.731974 40.731861 40.731804
 40.731747 40.731665 40.731389 40.7312   40.731119 40.731103 40.73092
 40.730782 40.725738 40.722614 40.72263  40.722173 40.719379 40.71935
 40.721923 40.724011 40.724608 40.724774 40.715415 40.715484 40.714749
 40.71468  40.714846 40.715033 40.715208 40.712159 40.712199 40.712118
 40.712179 40.712216 40.712224 40.71224  40.711927 40.711866 40.71174
 40.711442 40.711316 40.711417 40.711421 40.711409 40.711303 40.714867
 40.7159   40.714875 40.715779 40.716335 40.712828 40.712938 40.712893
 40.712922 40.713044 40.712836 40.712881 40.712995 40.713276 40.713339
 40.713518 40.71312  40.712872 40.704053 40.704011 40.703897 40.703885
 40.703848 40.703882 40.704211 40.704142 40.704175 40.704171 40.704468
 40.704453 40.70442  40.704188 40.70352  40.703487 40.703989 40.703383
 40.70295  40.702934 40.702922 40.702411 40.702313 40.702467 40.702597
 40.702618 40.725308 40.725511 40.725478 40.725527 40.725397 40.725413
 40.724755 40.723974 40.723462 40.725372 40.725364 40.725197 40.72167
 40.721768 40.721662 40.721857 40.721941 40.722039 40.72147  40.721713
 40.721933 40.722283 40.722698 40.722819 40.722966 40.723136 40.723071
 40.723006 40.722962 40.722603 40.721247 40.720606 40.720582 40.720533
 40.720488 40.720458 40.720018 40.720026 40.719777 40.720114 40.719944
 40.720448 40.720412 40.720372 40.720749 40.721181 40.72112  40.721315
 40.721258 40.721217 40.721173 40.721161 40.721124 40.721026 40.719376]
Null values for Squirrel Latitude (DD.DDDDDD):  92
-------------------------------------------
-------------------------------------------
Column: Squirrel Longitude (-DD.DDDDDD)
Unique Values for Squirrel Longitude (-DD.DDDDDD):  [-73.933936 -73.933937 -73.933894 -73.933895 -73.93359  -73.932871
 -73.933143 -73.933412 -73.933326 -73.933717 -73.933738 -73.934544
 -73.9407   -73.940808 -73.940613 -73.94094  -73.941026 -73.940579
 -73.940369 -73.94103  -73.941115 -73.941132 -73.941497 -73.941498

In [18]:
## Looking at the break down for the different columns and thier values I think aggregating up to the "Area Name", 
## the part of the city documented, along with the squirrel information.


### Taking note of the nulls present in the data for those columns where nulls are present and relevant.Filling them in with an "NA"
    #Null values for Primary Fur Color:  1
    #Null values for Highlights in Fur Color:  94   
    #Null values for Color Notes:  423
    #Null values for Location:  34
    #Null values for Above Ground (Height in Feet):  321
    #Null values for Specific Location:  344
    #Null values for Activities:  55
    #Null values for Interactions with Humans:  91
    #Null values for Other Notes or Observations:  266

0

In [39]:
# Aggregating to get numbers
df_agg = df.groupby(["Area Name","Area ID","Primary Fur Color",
            "Highlights in Fur Color","Location","Activities","Interactions with Humans"
           ]).agg({"Squirrel ID":'nunique'}).reset_index()
df_agg = df_agg.rename(columns={"Squirrel ID":"Squirrel_Count"})

In [50]:
## Area Name totals
area_agg = df_agg.groupby(["Area Name","Area ID"]).agg({'Squirrel_Count':'sum'}).reset_index()
print(area_agg)
## ----- Numeric Summary
area_agg.describe()

## --- Notes: 
#Only 4 areas in the data, the mean for each area is aroudn 67 squirrels. 
#The minimum number of squirrels in an area is 30 and the max is 108.

           Area Name Area ID  Squirrel_Count
0           BROOKLYN       D              43
1  CENTRAL MANHATTAN       B              88
2    LOWER MANHATTAN       C              30
3    UPPER MANHATTAN       A             108
       Squirrel_Count
count        4.000000
mean        67.250000
std         36.818247
min         30.000000
25%         39.750000
50%         65.500000
75%         93.000000
max        108.000000

In [51]:
## Primary Color Totals 
color_agg= df_agg.groupby(["Primary Fur Color"]).agg({'Squirrel_Count':'sum'}).reset_index()
## ----- Numeric Summary
print(color_agg)

## Only three rows with the vast majority of the squirrels being gray as their primary color.

  Primary Fur Color  Squirrel_Count
0             Black              10
1          Cinnamon              12
2              Gray             247

In [53]:
## Location in park totals
location_agg= df_agg.groupby(["Location"]).agg({'Squirrel_Count':'sum'}).reset_index()
## ----- Numeric Summary
location_agg.describe()

## Notes
#There are 6 different locations where squirrels were noted to be found withing parks, the mean across the areas is about 45 squirrels. 
#The max amount for a speicifc location is 169, while the minimum is 5.

       Squirrel_Count
count        6.000000
mean        44.833333
std         63.455234
min          5.000000
25%          7.500000
50%         18.000000
75%         45.750000
max        169.000000

In [57]:
## Activites Totals. 
activity_agg = df_agg.groupby(["Activities"]).agg({'Squirrel_Count':'sum'}).reset_index()
## ----- Numeric Summary
activity_agg.describe()
## Notes:
##  The activies column will need cleaning, Although for now the numeric summary is as follows:
## There are 48 different unprocessed activity categories, with an average number of squirrels for each at about 5.6. 
# The activity with the largest number of squirrels associated with is has a max of 78 squirrels categorized with the activity,
# while the minimum activity has 1 squirrel. These categories need to be cleaned if being analyzed.

       Squirrel_Count
count       48.000000
mean         5.604167
std         12.727487
min          1.000000
25%          1.000000
50%          1.000000
75%          4.000000
max         78.000000

In [58]:
location_agg

                          Location  Squirrel_Count
0                     Above Ground              54
1  Above Ground, Specific Location              21
2                     Ground Plane             169
3       Ground Plane, Above Ground               5
4  Ground Plane, Specific Location               5
5                Specific Location              15

Index(['Area Name', 'Area ID', 'Primary Fur Color', 'Highlights in Fur Color',
       'Location', 'Activities', 'Interactions with Humans', 'Squirrel_Count'],
      dtype='object')

# Data Wrangling

Perform data wrangling.  You are free to use your best judgment here.  If you are stuck, look at previous assignment.

In [5]:
### Wrangling Steps: 
    - Cleanign the Activites
    - Cleaning the Location
    - Coalescning the colors for Charting
    -

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,BROOKLYN,D,McCarren Park,22,D-22-40,Cinnamon,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Fluffy,40.721173,-73.950781
429,BROOKLYN,D,McCarren Park,22,D-22-41,Cinnamon,Cinnamon,NaN,Above Ground,NaN,NaN,"Running, Foraging",Indifferent,Skinny,40.721161,-73.950732
430,BROOKLYN,D,McCarren Park,22,D-22-42,Gray,Gray,NaN,Above Ground,NaN,NaN,Climbing,Indifferent,Clinging to tree,40.721124,-73.950797
431,BROOKLYN,D,McCarren Park,22,D-22-43,Gray,White,NaN,Above Ground,10,NaN,"Running, Chasing, Climbing",Indifferent,Playing with another squirrel in a tree,40.721026,-73.950765
432,BROOKLYN,D,McCarren Park,22,D-22-44,Gray,"Cinnamon, White",NaN,Ground Plane,NaN,NaN,Foraging,Runs From,Ran very quickly,40.719376,-73.952326

# Visualizations

The main purpose of this assignment is to practice creating various visualizations using the matplotlib and seaborn library.

### **Part 1:**
Using matplotlib, create ***two or more plots*** that incorporate at least **5** of the following properties:

Note: these properties vary based on your data.  The goal is to practice creating visualizations and modifying its properties.

*   Use and change a legend position
*   Change a legend font size
*   Place a legend outside of the plot
*   Create a single legend for all subplots
*   Change the title and x/y labels
*   Change the marker, line colors, and line width
*   Add annotations
*   Modify Axis Text Ticks/Labels
*   Change size of axis Labels
*   Your own choice not included above


Plots that you can create **include**:

*   Scatter Plot
*   Bar plot
*   Line Chart
*   Multi Plots (e.g. using .subplot()
*   Histogram

You can add another plot not listed here if it works better for your data.  This is not a complete list of plots to create.

### **Part 2:**

Recreate the visualizations above using the Seaborn library as best as possible.  


**You are required to explain what each of your plots is representing. Plots without comments will not be accepted.**  In addition, please explain the properties you are showcasing.


### **Part 3:**
In a comment or text box, explain the differences between creating a plot in matplotlib and seaborn, based on your above plots.

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.